@import url("header.css");
@import url("sobre.css");
@import url("vagas.css");

:root {
    --primary: #8e2424;
    --gray: #667085;
    --background-red: #C3191908;
    box-sizing: border-box;

}

body {
    font-family: 'Inter', helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
}

.destaque-vermelho {
    color: var(--primary);
    font-weight: 600;
    z-index: 10;
}

.bg-vermelho-alpha {
    background-color: var(--background-red);
    opacity: 0.;
    z-index: 0;
    padding: 0 10px;
    border-radius: 16px;
}

.nav-menu {
    padding-top: 28px;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    align-items: center;
    display: flex;
    justify-content: center;
}

#logo-text {
    display: inline;
    margin-left: 5px;
}

.links {
    align-self: flex-start;
}

.menu-links {
    list-style: none;
    display: flex;
}

.menu-item {
    margin: 0 5px;
}

.btn {
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
}