:root {
    --primary: #8e2424;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-menu {
    padding-top: 28px;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    align-items: center;
    display: flex;
    justify-content: center;
}

#logo-text {
    display: inline;
    margin-left: 5px;
}

.links {
    align-self: flex-start;
}

.menu-links {
    list-style: none;
    display: flex;
}

.menu-item {
    margin: 0 5px;
}

.btn {
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
}